
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans');
*{
    font-family: 'Noto Sans';
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);
   /* background-image: linear-gradient(rgba(255, 255, 255, 0.6),
     rgba(255, 255, 255, 0.6)),url('Backgroung.jpg');
    background-color: transparent;
    background-attachment: fixed;
    background-position: inherit;
    background-size: cover;
    */
   
}


img {
    opacity: 0.5;
  }

.hidden-name{
    display: none;
}

.top-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25vh;
}
.client-name {
    margin-top: 80px;
    margin-left: 1em;
}


.bottom-side{
    display: flex;
    justify-content: center;
       
}
.bottom-side h1{
    margin-right: 35px;
}
.contact-data{
    margin-top: 35px;
    margin-left: 2em;
}

.logo{
    width: 300px;
    height: 200px;
}
@media only screen and (max-height: 600px) {
    .top-side{
        padding-top: 0vh;
    }
    
    
}

@media only screen and (max-width: 600px)  and (orientation: portrait){
     .top-side{
         padding-top: 5vh;
     }
    .container .top-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
    }

    .container .bottom-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left ;
    }

   .bottom-side h1{
       display: none;
       padding-left: 0px;
   }

   .hidden-name{
    display: unset;
    padding-left: 0px;
}

   .client-name {
    margin-top: 0px;
    margin-left:0em;

}
.contact-data{
    margin-top: 0px;
    margin-left: 0em;
}

}   

@media only screen and (max-width: 700px)  and (orientation: landscape){

    .logo{
        margin-left: 0px;
    }
    .client-name {
        margin-top: 100px;
        margin-left:0em;
    
    }

    .container .top-side{
        padding-bottom: 0px;
    }
    
    .container .bottom-side{
        padding-top: 0px;
        align-items: center;
        justify-content: center ;
    }

    .contact-data{
        margin-top: 0px;
        margin-left: 2em;
    }
 
}