
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans');
*{
    font-family: 'Noto Sans';
    box-sizing: border-box;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7),
     rgba(255, 255, 255, 0.7)),url( http://str.nau-arts.de/images/one.jpg);
    background-color: transparent;
    background-attachment: fixed;
    
   
}



img {
    opacity: 0.5;
  }

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.top-side h1{
    text-align: center;
}

.right-side{
    display: inline-block;
    margin-top: 65px;
    margin-left: 75px;
}

.contact-data{
    margin-top: 110px;
}

.logo{
    width: 300px;
    height: 200px;
}

/*
@media only screen and (max-width: 650px) {
    .right-side{
        display: inline-block;
        margin-top: 0px;
        margin-left: 0px;
    }
  }
*/
@media only screen and (max-width: 625px) and (min-width:526px){

    .right-side{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 525px) {
    .container {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .top-side img h1{
        position: relative;
        display: flex;
        justify-content: center;
        
    }
    


    .right-side{
        display: inline-block;
        margin-top: 0px;
        margin-left: 0px;
    }

    .contact-data{
        margin-top: 0px;
    }    
  }



/*



.outer{ 
    border: 10px solid #dd7500;
}

.inner{

        width: 500px;
        height: 25px;
        background-color:white;
        margin-top: 50px;
       
        margin-left: -20px;
      }


.logo-circle{
        height: 125px;
        width: 125px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        
    }
    .arrow{
        width: 50px;
        height: 8px;
        margin-top: -16px;
        background-color: black;
        margin-right: 125px;
        margin-left: 150px;
    }
    .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 86.6px 50px 0;
    border-color: transparent #121314 transparent transparent;
    }
    
*/